In [ ]:
#------------------------------------------------------------
#
# Tutorial for Map Plotting
# Created by: Darien Niamir
# Created on: 2/19/18
#
#------------------------------------------------------------

In [1]:
from MapMe import MapMeClass
import datetime
mapbox_access_token = 'pk.eyJ1IjoiZG5pYW1pciIsImEiOiJjamR3NmV0eWsxb2NpMzJtdTB5c3ExN2FrIn0.MfxVkZvXoA-zZobcRf_25w'

In [2]:
filename = 'places3.json'
directory = 'Data'

In [3]:
mmc = MapMeClass(directory=directory, filename=filename)
mmc.data.head()

,latitudeE7,longitudeE7,timestampMs,year,month,day,hour,min,sec,timestamp_fixed,timestamp_string
0,37.488932,-122.240630,1539238078348,2018,10,11,6,7,58,2018-10-11 06:07:58.348,10/11/2018 6:7
1,37.488932,-122.240630,1539237798244,2018,10,11,6,3,18,2018-10-11 06:03:18.244,10/11/2018 6:3
2,37.488932,-122.240630,1539237652106,2018,10,11,6,0,52,2018-10-11 06:00:52.106,10/11/2018 6:0
3,37.488951,-122.240628,1539235468831,2018,10,11,5,24,28,2018-10-11 05:24:28.831,10/11/2018 5:24
4,37.488989,-122.240630,1539235434567,2018,10,11,5,23,54,2018-10-11 05:23:54.567,10/11/2018 5:23

In [4]:
step = 1e0

min_year = 2018
min_month = 9
min_day = 1

max_year = 2018
max_month = 11
max_day = 1

date_min = datetime.datetime(min_year, min_month, min_day)
date_max = datetime.datetime(max_year, max_month, max_day)

In [5]:
min_filter = mmc.data['timestamp_fixed'] >= date_min
max_filter = mmc.data['timestamp_fixed'] <= date_max
mmc.Filter(min_filter & max_filter)

In [6]:
fig = mmc.PlotMap(mapbox_access_token=mapbox_access_token)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.