In [1]:
#------------------------------------------------------------
#
# Tutorial for Map Plotting
# Created by: Darien Niamir
# Created on: 2/19/18
#
#------------------------------------------------------------

In [2]:
from MapMe import MapMeClass
import chart_studio.plotly as py
import datetime
mapbox_access_token = 'pk.eyJ1IjoiZG5pYW1pciIsImEiOiJjamR3NmV0eWsxb2NpMzJtdTB5c3ExN2FrIn0.MfxVkZvXoA-zZobcRf_25w'

In [3]:
mmc = MapMeClass(filepath='./Data/places4.json')
mmc.data.head()

,latitudeE7,longitudeE7,timestampMs,year,month,day,hour,min,sec,timestamp_fixed,timestamp_string
0,40.785219,-111.978285,1484656154231,2017,1,17,12,29,14,2017-01-17 12:29:14.231,1/17/2017 12:29
1,40.785219,-111.978285,1484656203231,2017,1,17,12,30,3,2017-01-17 12:30:03.231,1/17/2017 12:30
2,40.785219,-111.978285,1484656232744,2017,1,17,12,30,32,2017-01-17 12:30:32.744,1/17/2017 12:30
3,40.785219,-111.978285,1484656352864,2017,1,17,12,32,32,2017-01-17 12:32:32.864,1/17/2017 12:32
4,40.785219,-111.978285,1484656372780,2017,1,17,12,32,52,2017-01-17 12:32:52.780,1/17/2017 12:32

In [4]:
# Remove all Home Data
check1 = mmc.data['longitudeE7'] > -122.2438482
check2 = mmc.data['latitudeE7'] > 37.4871195
check3 = mmc.data['longitudeE7'] < -122.2363169
check4 = mmc.data['latitudeE7'] < 37.4920312

In [5]:
step = 1e0

min_year = 2019
min_month = 8
min_day = 30

max_year = 2019
max_month = 9
max_day = 2

date_min = datetime.datetime(min_year, min_month, min_day)
date_max = datetime.datetime(max_year, max_month, max_day)

In [6]:
mmc.ClearFilter()
min_filter = mmc.data['timestamp_fixed'] >= date_min
max_filter = mmc.data['timestamp_fixed'] <= date_max
mmc.Filter(min_filter & max_filter & ~(check1 & check2 & check3 & check4))

In [7]:
fig = mmc.PlotMap(mapbox_access_token=mapbox_access_token, renderer='chrome', filename='test1.html')

In [12]:
# Connection to char_studio and upload
py.iplot(mmc.fig, filename='Camp', renderer='chrome')